# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.ipch
*.tlog
*.ilk
.vs/MenuSDK/FileContentIndex/read.lock
Compiled/Intermediate/vc143.pdb
.vs/MenuSDK/v17/.suo
.vs/MenuSDK/v17/Browse.VC.db
.vs/MenuSDK/v17/Browse.VC.db-shm
.vs/MenuSDK/v17/Browse.VC.db-wal
.vs/MenuSDK/v17/Browse.VC.opendb
.vs/PrimordialConcept/FileContentIndex/read.lock
.vs/PrimordialConcept/v17/.suo
.vs/PrimordialConcept/v17/Browse.VC.db
Compiled/Intermediate/_IsIncrementalBuild
Compiled/Intermediate/MenuSDK.Build.CppClean.log
Compiled/Intermediate/MenuSDK.exe.recipe
Compiled/Intermediate/MenuSDK.log
Compiled/Intermediate/MenuSDK.vcxproj.FileListAbsolute.txt
Compiled/Intermediate/vc143.idb
Compiled/MenuSDK.pdb
